<head>

  <!-- Common metas -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>
  {% if page.title %}{{ page.title }} | {{ site.title }}
  {% else %}{{ site.title }}{% endif %}
  </title>

  <!-- SEO metas -->
  <meta name="description" content="{% if page.desc %}{{ page.desc }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.desc }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,400i,700" rel="stylesheet">

  <!-- Favicons -->
  
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon-16x16.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon-32x32.png">
  <link rel="apple-touch-icon" type="image/png" href="{{ site.baseurl }}/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/favicon.ico">

  <!-- CSS files -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  <!-- Graph meta -->
  <meta property="og:url" content="https://mziyabo.co">
  <meta property="og:type" content="blog">
  <meta property="og:site_name" content="Mziyabo's blog">
  <meta property="og:title" content="Mziyabo's blog">
  <meta property="og:description" content="Industry Learnings, projects and some outside-of work interests">
  <meta property="og:image" content="http://mziyabo.co/assets/img/og-image.png">
  <meta property="og:locale" content="en_US">
</head>
